#daftar-siswa {
  background-color: gainsboro;
}

#daftar-siswa p:first-child {
  background-color: #60a5fa;
}

#daftar-siswa p:last-child {
  background-color: #f87171;
}

#daftar-siswa p:hover {
  background-color: #e5e7eb;
}
